body{
    background-color: rgb(250, 232, 204);
}

#paragrafo1 {
    color:rgb(199, 94, 94);

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: 30px
}


.titulo{
    color:rgb(158, 14, 14)
}

#paragrafo2{
    color:rgb(112, 7, 7);
    
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
